body {
    font-family: Arial, sans-serif;
    margin: 2em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

td, th {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: center;
}
